
/*---------------------Police: directives FontFace--------------------*/

@font-face {
	font-family: "Raleway";
	src: url("static/Raleway-Thin.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ExtraLight.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Light.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Regular.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Medium.ttf") format("truetype"),
		  url("Raleway/static/Raleway-SemiBold.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Bold.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ExtraBold.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Black.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ThinItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ExtraLightItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-LightItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-Italic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-MediumItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-SemiBoldItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-BoldItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-ExtraBoldItalic.ttf") format("truetype"),
		  url("Raleway/static/Raleway-BlackItalic.ttf)") format("truetype");
}


/*--------------------------Règles générales---------------------------*/

body/*Sur toute la page*/
{
	font-family: "Raleway", sans-serif;/*police Raleway, sans empatements*/
}

h1/*titres principaux des sections*/
{
	font-size: 21px;/*taille de la police*/
	font-family: "Raleway-ExtraBold", sans-serif;/*police Raleway plus grasse, sans empatement*/
	font-weight: bold;/*en gras*/
}

h2/*Sous-titres*/
{
	font-size: 18px;/*taille de la police*/
	font-family: "Raleway-ExtraBold", sans-serif;/*police Raleway plus grasse, sans empatement*/
	font-weight: bold;/*en gras*/
}

h3/*Titres de photos*/
{
	font-size: 16px;/*taille de la police*/
	font-family: "Raleway-ExtraBold", sans-serif;/*police Raleway plus grasse, sans empatement*/
	font-weight: bold;/*en gras*/
	line-height: 6px;/*espace entre les deux lignes*/
}

p/*texte de base*/
{
	font-size: 16px;/*taille de la police*/
}

a/*tous les liens cliquables de la page*/
{
	text-decoration: none;/*perd soulignement défini par défaut*/
	color: black;/*perd couleur définie bleu par défaut*/
}



/*-------------------------------En-tête----------------------------------*/

header
{
	margin: 51px 77px 0 53px;/*marges ext*/
	width: 1310px;/*largeur bloc*/
}	

nav/*=header*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*disposition des éléments sur la même ligne*/
	justify-content: space-between;/*espace entre les mots*/
	
}

.reservia/*logo (image)*/
{
	width: 96px;/*largeur*/
	height: 39px;/*hauteur + ajustement visuel*/
}

.menu/*hébergements,activités,s'inscrire*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: row;
	justify-content: space-between;/*espace entre les mots*/
	width: 242px;/*largeur totale du bloc*/
	margin-left: 834px;/*marge ext gauche (entre logo et "hébergements")*/
}

#sinscrire
{
	color: #0065FC;/*couleur police en bleu*/
	font-weight: bold;/*en gras*/
	margin-left: 68px;/*marge est gauche (entre bloc menu et "s'inscrire")*/
}



/*--------------------------Barre de recherche ---------------------------*/

.vacancesdereve/*titre barre de recherche*/
{
	line-height: 16px;/*espace entre les lignes de texte*/
	margin-left: 55px;/*marge ext gauche du bloc*/
	margin-top: 50px;/*marge ext entre ce bloc et le bloc header*/
}

.barrederecherche
{
	background-color: #F2F2F2;/*fond du bloc gris*/
	border: 1px solid #F2F2F2;/*bordure 1px d'épaisseur, ligne continue, grise*/
	width: 419px;/*largeur bloc*/
	height: 50px;/*hauteur bloc*/
	margin-top: 19px;/*marge ext haute (entre barre de recherche et titre)*/
	margin-left: 54px;/*marge ext gauche (entre barre de recherche et bord de la page)*/
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une même ligne*/
	align-items: center;/*éléments centrés sur l'axe vertical*/
	border-radius: 15px;/*coins arrondis*/
}

.blockicon/*icône marker map bloc*/
{
	width: 52px;/*largeur bloc*/
	height: 51px;/*hauteur bloc*/
	position: relative;/*devient l'espace de réf de l'icon marker map*/ 
}

.fa-map-marker-alt/*icône marker map*/
{
	width: 13px;/*largeur icône*/
	height: 18px;/*hauteur icône*/
	position: absolute;/*placement dans espace de réf (blockicon)*/
	top: 17px;/*distance haut*/ right: 20px;/*...droite*/ bottom: 16px;/*...bas*/ left: 19px;/*...gauche*/
}

section input/*bloc de saisie*/
{
	font-size: 16px;/*taille de la police*/
	font-family: "Raleway-Bold", sans-serif;/*police Raleway plus grasse, sans empatement*/
	font-weight: bold;/*en gras*/
	padding-left: 17px;/*marge int gauche (entre cadre et écriture)*/
	width: 234px;/*largeur bloc*/
	height: 49px;/*hauteur bloc*/
	border: none;/*pas de contour apparent*/
}

.barrederecherche button span/*bouton rechercher avec texte*/
{
	color: white;/*couleur texte*/
	background-color: #0065FC;/*couleur fond bleu*/
	width: 134px;/*largeur bloc*/
	height: 51px;/*hauteur bloc*/
	border: 0px;/*pas de contour apparent*/
	border-top-right-radius: 15px;/*coin haut droit arrondi*/
	border-bottom-right-radius: 15px;/*coin bas droit arrondi*/
}

i.fa-search/*bouton rechercher avec icon*/
{
    display: none;/*disparaît*/
}


/*-----------------------------------Filtres---------------------------------*/

.blocfiltre/*bloc filtres*/
{
	display: flex;/*dispositon flexbox*/
	flex-direction: row;/*éléments à la suite sur une même ligne*/
}

.titreblocfiltres
{
	margin-left: 63px;/*marge ext gauche*/
	margin-top: 49px;/*marge ext haute*/
}

.filtres/*filtres sans titre général*/
{
	width: 929px;/*largeur*/
	margin: 31px 448px 0 32px;/*marge ext*/
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une même ligne*/
	align-items: center;/*éléments centrés sur l'axe vertical*/
	justify-content: space-between;
}

.filtre/*intitulés filtres + contour gris*/
{
	display: flex;/*disposition flexbox*/
	align-items: center;/*éléments centrés sur l'axe vertical*/
	border: 3px solid #F2F2F2;/*cadre ligne continue épaisseur 2px grise*/
	border-radius: 30px;/*coins arrondis*/
	height: 47px;/*hauteur du cadre*/
	width: 100%;/*occupe toute la largeur de son bloc*/
	padding-left: 63px;/*marge int gauche*/
}

.filtre:hover/*effet de survol*/
{
	box-shadow: 5px 5px 5px #d6d6d6;/*au survol apparaît une ombre grise*/
}

#economique/*bloc filtre économique*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une même ligne*/
	width: 194px;/*largeur*/
	position: relative;/*devient l'espace de réf de son icon*/
}

.fa-money-bill-wave/*icon billet*/
{
	font-size: 18px;/*taille icone*/
	border: 1px solid #DEEBFF;/*contour ligne continue épaisseure 1px bleue clair*/
	background-color: #DEEBFF;/*fond bleu clair*/
	border-radius: 90%;/*coins arrondis (forme un cercle)*/
	padding: 17px 14px 16px 14px;/*marges int + ajustement visuel*/
	position: absolute;/*positon dans son bloc filtre*/
	left: 0;/*tout à gauche*/
}

#familial/*bloc filtre familial*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une même ligne*/
	width: 152px;/*largeur*/
	position: relative;/*devient l'espace de réf de son icon*/
}

.fa-child/*icon enfant*/
{
	font-size: 21px;/*taille icone*/
	border: 1px solid #DEEBFF;/*contour ligne continue épaisseure 1px bleue clair*/
	background-color: #DEEBFF;/*fond bleu clair*/
	border-radius: 90%;/*coins arrondis (forme un cercle)*/
	padding: 15px 18px 14px 17px;/*marges int*/
	position: absolute;/*positon dans son bloc filtre*/
	left: 0;/*tout à gauche*/
}

#romantique/*bloc filtre romantique*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une même ligne*/
	width: 184px;/*largeur*/
	position: relative;/*devient l'espace de réf de l'icon*/
}

.fa-heart/*icon coeur*/
{
	font-size: 19px;/*taille icone*/
	border: 1px solid #DEEBFF;/*contour ligne continue épaisseure 1px bleue clair*/
	background-color: #DEEBFF;/*fond bleu clair*/
	border-radius: 90%;/*coins arrondis (forme un cercle)*/
	padding: 17px 16px 14px 14px;/*marges int + ajustement visuel*/
	position: absolute;/*positon dans son bloc filtre*/
	left: 0;/*tout à gauche*/
}

#animaux/*bloc filtre animaux autorisés*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une même ligne*/
	width: 242px;/*largeur*/
	position: relative;/*devient l'espace de réf de l'icon*/
}

.fa-dog/*icon chien*/
{
	font-size: 21px;/*taille icone*/
	border: 1px solid #DEEBFF;/*contour ligne continue épaisseure 1px bleue clair*/
	background-color: #DEEBFF;/*fond bleu clair*/
	border-radius: 90%;/*coins arrondis (forme un cercle)*/
	padding: 15px 16px 14px 16px;/*marges int*/
	position: absolute;/*positon dans son bloc filtre*/
	left: 0;/*tout à gauche*/
}

/*---------------------------Info------------------------------*/

.fa-info/*icon info*/
{
	font-size: 13px;/*taille icone*/
	margin-right: 12px;/*marge ext droite (entre icon info et texte)*/
	padding: 5px 8px 4px 8px;/*marge int (entre icon info et bordure)*/
	border: 2px solid #F2F2F2;/*bordure grise continue de 2px dépaisseur*/
	border-radius: 90%;/*angles bordure arrondis à 90%*/
}

.infotexte/*icon info + texte*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une même ligne*/
	align-items: center;/*éléments centrés sur l'axe verticale*/
	margin: 35px 0 37px 61px;/*marge ext*/
	height: 24px;/*hauteur*/
}



/*--------------------------------Hébergements----------------------------------*/

.hebergements/*bloc section hébergements (titre + cartes + afficherplus)*/
{
	height: 625px;/*hauteur*/
	background-color: #F2F2F2;/*fond gris*/
	border-radius: 20px;/*coins arrondis*/
	position: absolute;/*position en fonction du bloc de référence*/
	left: 0; top: 0;/*tout en haut à gauche*/
}

#titrehebergements/*titre*/
{
	margin-top: 47px;/*marge ext haute*/
	margin-left: 41px;/*marge ext gauche (entre bord section et titre)*/
}

.carteshebergements/*bloc cartes*/
{
	width: 800px;/*largeur bloc*/
	height: 428px;/*hauteur bloc*/
	margin: 23px 40px 43px 40px;/*marge ext*/
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*élément à la suite sur une ligne*/
	flex-wrap: wrap;/*élément passe à la ligne lorsque sort du cadre*/
	justify-content: space-between;/*espace entre les éléments sur l'axe horizontal*/
	align-content: space-between;/*espace entre les éléments sur l'axe vertical*/
	grid-gap: 30px 31px;/*espace entre cartes*/
}

.cartes/*cartes (photo + description)*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: column;/*éléments à la suite en colonne*/
	align-items: center;/*éléments centrés sur l'axe horizontal*/
	justify-content: center;/*éléments centrés sur l'axe vertical*/
	width: 246px;/*largeur carte*/
	height: 199px;/*hauteur carte*/
	border-radius: 20px;/*coins arrondis*/
	background-color: white;/*fond blanc*/
	box-shadow: 0px 2px 10px #DCDCDC;/*ombre*/
}

.photos/*photos d'hébergements*/
{
	width: 236px;/*largeur*/
	height: 114px;/*hauteur*/
	border-radius: 15px 15px 0 0;/*coins supérieurs arrondis*/
	margin: 5px 5px 0 5px;/*marge ext (entre bords carte et bords photos)*/
}

.description/*bloc description de l'hébegement*/
{
	height: 37px;/*hauteur*/
	margin-left: 17px;/*marges ext gauche*/
	margin-top: -3px;/*ajustement visuel*/
	line-height: 7px;/*espace entre lignes de texte*/
}


/*----------Note-------------*/

.note/*bloc note étoiles*/
{
	font-size: 12px;/*taille chaque étoile*/
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur la même ligne*/
	justify-items: space-between;/*espace entre chaque éléments*/
	margin-left: 16px;/*marge ext gauche (entre bord carte et 1ere étoile)*/
	margin-bottom: 11px;/*marge ext bas (entre bord carte et note étoiles)*/
	margin-top: 3px;/*ajustement visuel*/
}

.fa-star/*icone étoile*/
{
	margin-right: 2px;/*marge entre étoiles*/
}

#afficherplus
{
	margin-top: -5px;/*ajustement visuel*/
	margin-left: 4px;/*marge ext gauche supplémentaire (entre bord bloc hébérgements et texte)*/
}


/*-----------------------------------Populaires----------------------------------*/


.populaires/*bloc gris section populaires (titre + cartes)*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: column;/*éléments à la suite sur la même colonne*/
	align-content: space-between;/*espace entre chaque éléments*/
	justify-content: center;/*éléments centrés sur l'axe vertical*/
	width: 420px;/*largeur*/
	height: 625px;/*hauteur*/
	background-color: #F2F2F2;/*fond gris*/
	border-radius: 20px;/*coins arrondis*/
}

#titrepopulaire/*bloc titre + icône*/
{
	font-size: 22px;/*taille icône*/ 
	height: 18px;/*hauteur bloc*/
	width: 343px;/*largeur bloc*/
	margin: 46px 39px 0 38px;/*marges ext*/
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments alignés sur une même ligne*/
	justify-content: space-between;/*espace entre les éléments*/
	align-items: center;/*au centre sur l'axe vertical*/
}

#cartespopulaires/*bloc cartes*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: column;/*en colonne*/
	align-items: center;/*élément alignés au centre sur l'axe horizontal*/
	justify-content: space-evenly;/*éléments espacés equitablement*/
	width: 343px;/*largeur*/
	height: 498px;/*hauteur*/
	margin: 26px 40px 34px 37px;/*marges ext*/
}

.cartes2/*cartes blanches populaires (photo + desciption + note)*/
{
	width: 343px;/*largeur cartes*/
	height: 144px;/*hauteur cartes*/
	border-radius: 20px;/*coins arrondis*/
	background-color: white;/*couleur de fond*/
	box-shadow: 0px 2px 10px #DCDCDC;/*ombre*/
}

.photos2/*photos populaires*/
{
	width: 127px;/*largeur photos*/
	height: 134px;/*hauteur photos*/
	float: left;
	border-radius: 15px 0 0 15px;/*coins gauches arrondis*/
	margin: 5px 0 5px 5px;/*marges ext (entre photo et bords carte)*/
}

.sansphoto/*description + note*/
{
	display: flex;/*disposition flexbox*/
	flex-direction: column;/*en colonne*/
	align-items: start;
	margin-top: 19px;/*marge ext haute*/
}

.description2/*description photos*/
{
	margin-top: -13px;/*ajustement visuel*/
	height: 58px;/*hauteur*/
	margin-left: 20px;/*marge ext gauche (entre photo et description)*/
}

.note2/*bloc note étoiles*/
{	
	font-size: 12px;
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur la même ligne*/
	margin-left: 21px;/*marge ext gauche*/
	margin-top: 50px;/* marge ext haute (entre note et description)+ajustement visuel*/
}


/*-----------------------------Hébergements et Populaires------------------------------*/

.toushebergements/*bloc section hebergements et populaires*/
{
	width: 1340px;/*largeur*/
	height: 625px;/*hauteur*/
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une ligne*/
	justify-content: space-between;/*espace entre les éléments*/
	margin-left: 50px;/*marge ext gauche*/
	position: relative;/*devient l'espace de référence de son contenu*/
}


/*----------------------------------------Activités-----------------------------------------------*/

.titreactivites/*titre section activités*/
{
	margin-top: 65px;/*marge ext haute*/
	margin-left: 50px;/*marge ext gauche*/
}

.cartesactivités/*bloc cartes*/
{
	height: 445px;/*hauteur*/
	width: 1337px;/*largeur*/
	display: flex;/*disposition flexbox*/
	flex-direction: row;/*éléments à la suite sur une ligne*/
	margin-left: 50px;/*marge ext gauche*/
}

.grandescartes, #cartepomegues, #cartefrioul, #cartenotredame, #cartelongchamp
{
	box-shadow: 0px 2px 10px #DCDCDC;/*ombre*/
}

.souscarte/*sous bloc carte (pomègues+Frioul et notre-dame+Longchamp)*/
{
	height: 445px;/*hauteur bloc*/
	width: 302px;/*largeur bloc*/
	display: flex;/*dispositon flexbox*/
	flex-direction: column;/*en colonne*/
	align-items: center;/*éléments alignés sur l'axe horizontal*/
	margin-top: -15px;/*ajustement visuel*/
	margin-right: 50px;/*ajustement visuel*/
	grid-gap: 14px;/*ajustement visuel*/
}

.grandescartes/*carte vieux port + carte calanques*/
{
	width: 302px;/*largeur*/
	height: 446px;/*hauteur*/
	border-radius: 20px;/*coins arrondis*/
	margin-top: 0;/*ajustement visuel*/
	margin-left: 0;/*ajustement visuel*/
}

.grandesphotos/*photo vieux port + photo calanques*/
{
	width: 302px;/*largeur*/
	height: 390px;/*hauteur*/
	border-radius: 20px 20px 0 0;/*coins supérieurs arrondis*/
}

.description3/*descriptions photos activités*/
{
	margin: 22px 0 21px 20px;/*marge ext*/
}

#cartepomegues/*carte Fort de Pomègues (photo + descptiption)*/
{
	width: 301px;/*largeur*/
	height: 237px;/*hauteur*/
	border-radius: 20px;/*coins arrondis*/
}

#photopomegues/*photo Fort de Pomègues*/
{
	width: 301px;/*largeur*/
	height: 181px;/*hauteur*/
	border-radius: 20px 20px 0 0;/*coins supérieurs arrondis*/
}

#cartefrioul/*carte Ile de Frioul (photo + descptiption)*/
{
	width: 302px;/*largeur*/
	height: 166px;/*hauteur*/
	border-radius: 20px;/*coins arrondis*/
}

#photofrioul/*photo Ile de Frioul*/
{
	width: 301px;/*largeur*/
	height: 110px;/*hauteur*/
	border-radius: 20px 20px 0 0;/*coins supérieurs arrondis*/
}

#cartenotredame/*carte Notre Dame (photo + descptiption)*/
{
	width: 302px;/*largeur*/
	height: 196px;/*hauteur*/
	border-radius: 20px;/*coins arrondis*/
}

#photonotredame/*photo Notre Dame*/
{
	width: 302px;/*largeur*/
	height: 140px;/*hauteur*/
	border-radius: 20px 20px 0 0;/*coins supérieurs arrondis*/
}

#cartelongchamp/*carte Parc Longchamps (photo + descptiption)*/
{
	width: 302px;/*largeur*/
	height: 209px;/*hauteur*/
	border-radius: 20px;/*coins arrondis*/
}

#photolongchamp/*photo Parc Longchamps*/
{
	width: 302px;/*largeur*/
	height: 153px;/*hauteur*/
	border-radius: 20px 20px 0 0;/*coins supérieurs arrondis*/
}



 
/*----------------------------------------Pied de Page-----------------------------------------------*/

footer
{
	background-color: #F2F2F2;/*fond gris*/
	width: 1440px;/*largeur*/
}

.pieddepage/*footer int*/
{
	margin-left: 50px;/*marge ext gauche*/
	margin-top: 60px;/*marge ext haute (entre bloc activités et pied de page)*/
	height: 218px;/*hauteur*/
	width: 70%;/*largeur*/
	display: flex;/*disposion flexbox*/
	flex-direction: row;/*éléments en ligne*/
	justify-content: space-between;/*espace entre éléments sur l'axe horizontal*/
	padding-top: 70px;/*ajustement visuel*/
}

ul/*liste d'éléments par partie*/
{
	font-family: "Raleway", sans-serif;/*police Raleway, sans empatements*/
	font-size: 16px;/*taille de la police*/
	list-style-type: none;/*pas de puce*/
	margin-top: 25px;/*ajustement visuel*/
}

li/*éléments listes*/
{
	margin-bottom: 15px;/*espace entre lignes*/
	margin-left: -40px;/*rattrapage marge puces*/
}
